

@media all and (max-width: 992px) {
    /* smartphone */
    
    .container1 {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap; 
        margin: auto;
        align-items: center;
        padding-right: 28px;
        padding-left: 55px;
        
    }
    .btn2 {
        visibility:visible;
    }
    .container3 {
        
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    
    
   
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 90px;
        margin-left: 90px;
    }
   
    
    #gigadiv {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .filters {
        flex-direction: column;
        
    }
    
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
   
    
    .linky {
        font-size: 30px;
       
    }
    .linky:hover {
        color: #0065FC;
        text-decoration: none;
        padding-top: 30px;
    }
    
    .illustrations3 {
    height: 160px;
    width: 150px;
    max-width: 150px;
    max-height: 160px;
    min-width: 150px;
    min-height: 160px;
    }
    #Hebergements {
        margin-top: 20px;
    }
    .vignettes2 {
        max-width: 400px;
    }
    .vignettes {
        max-width: 350px;
        width: 280px;
    
    }
    .illustrations {
        max-width: 310px;
        min-width: 280px;
        width: 310px;
        height: 130px;
    }
   
    
    #populaires, #Hebergements {
        max-width: 400px;
        min-width: 250px;
        background-color: white;
        
    }
    .illustrations2 {
        max-width: 270px;
        min-width: 270px;
        max-height: 180px;
        min-height: 180px;
        width: 200px;
        height: 120px;
        border-radius: 15px;
    }
    .vignettes3, .vignettes4 {
        max-width: 270px;
        min-width: 270px;
        margin-top: 20px;
        
    }
    .illustrations4 {
        max-width: 270px;
        min-width: 270px;
        width: 310px;
        height: 130px;
        max-height: 180px;
        min-height: 180px;
    }



    #Hebergements {
        max-height: 1700px;
        
    }
    #note {
        margin-top: 0px;
       
    }
    #strong {
        margin-left: 20px;
    }
    #responsive {

        align-items: center;
        justify-content: center;
    }
   
    .center {
        margin: auto;
        width: 60%;
        padding: 10px;
      }
    .center1 {
        margin: auto;
        width: 80%;
        padding: 10px;
    }
    .center2 {
        margin: auto;
        width: 80%;
        padding: 10px;
        margin-top: -50px;
    }
    
  
}
   

    



@media only screen and (max-width: 768px) {}

@font-face {
    font-family: 'Raleway';
    src : url('Raleway-VariableFont_wght.ttf')
}


#retest {
    display: inline-flex;
}


.popy {
    display: flex;
}
.filters {
    display: flex;
}

.pstyle {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: black;
}
.pstyle2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding: 7px;
    font-weight: bold;
    color: black;
}

#button {
border-top-left-radius: 0px;
border-bottom-left-radius: 0px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
color: white;
margin: -5px;
padding: 11.5px;
background-color: #0065FC;
border: 0px;

}
#placeholder {
    padding: 11px;
    border: 1px solid #F2F2F2;
    margin-left: -8px;

}
::placeholder {
   
    font-weight: bold;
    font-size: 15px;
    color: black;
  }


#icon {
background-color: #F2F2F2;
padding-top: 10px;
padding-bottom: 10.5px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
margin-right: -8px;
padding-right: 28px;
padding-left: 18px;
height: 18px;

}


body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-right: 30px;
    margin-left: 30px;
  
   
}
#child {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 30px;
}

header {
    display: flex;
    justify-content:space-between;
}

nav {
    display: flex;
}

#Booki {
    height: 80px;
    width: 140px;
}
#title {
    font-size: 20px;
}

.p1 {
    margin: 20px;
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;

}
.test {
    display: flex;
}

h3 {
    margin-top: 38px;
}

.sfilter {
    font-weight: bold;
    margin-top: 30px;
    padding: 0px; 
    margin-left: 20px;
    
    

}
.b {
    text-decoration: none;
    color: black;
}
.i {
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-left: 0px;
    border-color: #bbdefb;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 4px;
    margin-left: -16px;
    padding-left: 22px;
    padding-right: 15px;
}

.i:hover {
   
    font-style:italic;
    border-color: #bbdefb;
    
}


#placement {
   margin-top: 30px;
}


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    padding: 2px;
    background-color: #bbdefb;
    border-radius: 20px;
    padding: 8px;
}



a:link {
    text-decoration: none;
  
  }
.btn2 {
    visibility: hidden;
}



#gigadiv {
    display: flex;
    justify-content: space-around;
  
}

#Pomegue {
    height: 160px;
 
    
    
}
#Frioul {
    height: 90px;
}

.illustrations {
   width: 210px;
   height: 125px;
   border-radius: 15px;
   border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
   
    
}


.illustrations2 {
    
    height: 330px;
    width: 280px;
    white-space: nowrap;
    border-radius: 15px; 
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}

.illustrations3 {
   max-height: 160px;
   min-height: 160px;
   max-width: 160px;
   min-width: 160px;
   border-radius: 15px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   padding: 4px;
}
.illustrations4 {
    width: 210px;
    height: 125px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    
     
 }

.newdisplay {
    display: flex;
}

.vignettes {
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 20px;
    margin-right: 20px;
    
}
.vignettes2 {
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    margin-bottom: 20px;
    display: flex;
}

.display {
    display: flex;
}
.display2 {
    flex-direction: column;
    margin-left: 15px;
}


.vignettes3 {
    
    background-color: white;
    border-radius: 15px;
    padding-left: -30px;
    padding-top: 0px;
    padding-bottom: 3px;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
   
}
.vignettes4 {
    background-color: white;
    border-radius: 15px;
    padding-left: 0px;
    box-shadow: 3px 3px 10px gray;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}

#icon2 {
    border: solid #F2F2F2;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-width: medium;
    color: #0065FC;
}
#note {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap : wrap;

}
.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
   

  

}
.container2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;

}
.container3 {
    display: flex;
    justify-content: space-evenly;
}


#Hebergements {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 15px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  
   
}
#populaires {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;  
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#Activites {
    padding: 20px;
    border-radius: 15px; 
  
        
}
#column {
    display: inline-block;
}
.linky {
    color: rgb(163, 163, 163);
}

.linky:hover {
    color: #0065FC;
    border-top: solid;
    padding-top: 30px;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 10px;
}
#unchecked, #unchecked2, #unchecked3, #unchecked4, #unchecked5, #unchecked6, #unchecked7 {
    color: #F2F2F2;
}
